
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');
:root {
    --clr-background: #15120D;
    --clr-pink: #9F2E5F;
    --clr-neon-pink: #F167A3;
    --clr-light-blue: #8DCBD8;
    --clr-dark-blue: #2A4456;
    --clr-faded: #E0CBB8;
    --clr-med-blue: #3E7A86;
    --clr-yellow: #E4EE69;
    --clr-orange: #EEA169;
    
}

body {
    /* background-color: var(--clr-background); */
    max-height: 100vh;
}

main {
    max-width: 1920px;
    width: 80vw;
    margin: 0 auto;
}

.nostalgia {
    text-align: center;
    color: transparent;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--clr-light-blue);
    transform: rotate(-15deg);
    
}


.diner-container {
    position: relative;
}

.diner {
    position: absolute;
    text-align: center;
    color: var(--clr-neon-pink);
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -3.5rem;
    margin-left: 1.5rem;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: var(--clr-pink);

}
.lines {
    top: -35px;

    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    z-index: -1;
}

.line {
   
    margin-top: 6px;
    height: 10px;
    width: 400px;
    margin: 6 auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: var(--clr-faded);
}
.button-wrap {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}
button {
    background: var(--clr-dark-blue);
    border: none;
    color: var(--clr-neon-pink);
    font-size: 2rem;
    padding: 0.5rem 4.5rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

.juke-1{
    position: absolute;
    top: 100px;
    left: -10px;
    width: 60px;
    height: 60px;
    background-color: #122B3D;
    box-shadow: 0px 0px 0px 20px var(--clr-yellow),
                0px 0px 0px 35px var(--clr-med-blue);
    border-radius: 50%;
    
}


.juke-2{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--clr-light-blue);
    box-shadow: 0px 0px 0px 15px var(--clr-pink),
                0px 0px 0px 25px var(--clr-faded);
    border-radius: 50%;
    top: 30px;
    right: 30px;
}

.juke-3{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--clr-background);
    box-shadow: 0px 0px 0px 10px var(--clr-orange),
                0px 0px 0px 20px var(--clr-dark-blue);
    border-radius: 50%;
    top: -100px;
    left: 50px;
}

#background {
	background: black url(./resources/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -30;
	
	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#midground {
	background: url(./resources/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -20;
	
	animation-name: STAR-MOVE;
	animation-duration: 150s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#foreground {
	background: url(./resources/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -10;
	
	animation-name: STAR-MOVE;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes STAR-MOVE {
	from {
		background-position: 5% 5%
	}
	to { 
		background-position: 1300% 600%
	}
}
