body{
  background-color: black;
  background-image: url("bgdim.gif");
  -no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.title{
  font-family: fantasy;
  font-size: 70px;
  color: pink;
}

.demo{
  font-family: fantasy;
  font-size: 20px;
  color: white;
}

.button{

  height: 80px;
  width: 80px;
  color: white;
  opacity: 0.0;
}
.button1{
    background-color: #ffffff00;
  font-family: sans-serif;
    border-radius: 20px;
    color: white;
    width: 200px;
    padding: 20px;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }





.lol{
  color: white;
  font-style: italic;
  font-family: cursive;
  font-size: 20px;
}








  text {
   transform: rotate(90deg);
 }

 body {
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: black;
   flex-direction: column;
 }

h1{
 font-family: 'Kirang Haerang', cursive;
 color: rgb(255,240,245);
 font-size: 70px;
 font-weight: bold;
 align-self: center;
}

 svg {
   align-self: center;
   height: 40vh;
   width: 40vh;
   transform: rotate(-90deg);
 }


 circle {

   animation: spin 60s linear forwards;
 }

 @keyframes spin {
   0% {
     stroke-dashoffset: 126;
   }
   100% {
     stroke-dashoffset: 0;
   }
 }
